.navLink {
  padding: 0 !important;
}
.navLink a {
  padding: 1rem 0 !important;
  min-width: 80px;
  text-align: center;
}
.nav{
  background-color: #00ffb3 !important;
  border: none !important;
  border-radius: 0 !important;
}

/* animations  */
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* when pointer is a mouse (fine) 
run Bounce animation on hover */
@media (hover: hover) and (pointer: fine) {
  .navList li:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
}
