.menubarHeader {
  padding: 1rem;
  margin: 0 !important;
}


.darkModeButton {
  display: flex;
  place-items: center;
  /* padding: 0 0.5rem; */
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* when pointer is a mouse (fine) 
run brighten animation on hover */
@media (hover: hover) and (pointer: fine) {
  .darkModeButton:hover {
    animation: brighten 1.28s ease-in-out infinite !important;
  }
}
/* animations  */
@keyframes brighten {
  0%,
  100% {
    filter: drop-shadow(0px 0px 1px #ffa113);
  }
  50% {
    filter: drop-shadow(0px 0px 5px #ff9900);
  }
}
