@import './weeks.css';

:root {
  --main-white: #f2f2f2;
  --main-black: #020202;
  --dark-mode: #17171a;
  --light-mode: #d7d7d9;
  --current-theme: #17171a;
  --text-cool: #eadffb;
  --brand-color1: #a01d26;
  --color-dark: #2f2e33;
  --color-dark-rgb: 47, 46, 51;
  --color-light: #d5d6d2;
  --color-light-rgb: 213, 214, 210;
  --color1: #3a5199;
  --color-success: #ddf5d1;
}
html,
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.dark-mode {
  background-color: var(--color-dark, --main-black, #020202) !important;
}
.dark-mode,
#darkModeCheckbox input ~ label {
  color: var(--color-light, --main-white, #f2f2f2) !important;
}
.light-mode {
  background-color: var(--color-light, --main-w, #f2f2f2) !important;
}
.light-mode,
#lightModeCheckbox input ~ label {
  color: var(--color-dark, --main-black, #020202) !important;
}
/* 
MENUBAR RELATED
*/

/* // when pointer is a mouse (fine) */
@media (hover: hover) and (pointer: fine) {
  .menubar button:hover {
    background-color: #ddd;
    color: black;
  }
}
.top.stackable.menu {
  border-radius: 0 !important;
}
.right.menu button {
  margin: 0.25rem;
  border: none;
  background-color: var(--color1, blue) !important;
  color: var(--color-light, --main-white, #fff) !important;
  cursor: pointer;
}
.right.menu button:hover {
  background-color: var(--color-dark, --main-black) !important;
  color: var(--main-white, white);
  border-bottom: 1px solid transparent;
}
.right.menu button:active {
  background-color: var(--color-dark, --main-black);
  border-bottom: 1px solid black;
  cursor: wait;
}
.menu.transition.visible {
  overflow: auto;
  max-height: 200px;
}
.menubar-header {
  padding: 1rem;
  margin: 0 !important;
}
.menubar button.active {
  background-color: rgba(var(--color-dark-rgb), 5);
  color: white;
}
.menubar button.icon {
  display: none;
  background: transparent;
  border: none;
}
@media screen and (max-width: 766px) {
  .menubar button:not(:first-child) {
    display: none;
  }
  .menubar button.icon {
    position: absolute;
    right: 7px;
    top: 7px;
    display: block;
  }
  .menubar.responsive {
    position: relative;
  }
  .menubar.responsive .menu > a,
  .menubar.responsive .menu > div {
    float: none !important;
    display: none !important;
    text-align: left !important;
  }

  .right.menu button {
    max-width: max-content !important;
  }
  .right.menu {
    flex-direction: initial !important;
    justify-content: center !important;
  }
}

main {
  display: grid !important;
  min-height: calc(100vh - 150px);
  grid-template-rows: min-content max-content auto;
}
time.time {
  color: #979797;
  font-size: 1em;
}
.brand-name {
  font-weight: 700;
  text-shadow: 1px 1px 2px var(--main-black);
  color: var(--brand-color1);
  word-spacing: initial;
  letter-spacing: initial;
  scale: 1.5;
  /* text-decoration: overline underline white; */
}
.brand-name::after {
  content: 'Fun with Sports‼';
}
.page-header,
.page-content,
.page-footer {
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.page-header {
  /* background: var(--color2); */
  color: var(--dark-mode);
  text-align: center;
  max-width: none;
}
.page-content {
  padding: 2rem 1.5rem 3rem;
}
.hero {
  margin: 0;
  color: white;
  background-color: #2f2e337a;
  background-color: rgba(var(--color-dark-rgb), 0.6);
  padding: 2rem 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.hero h1 {
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 4px;
  letter-spacing: 1px;
  width: 80%;
  max-width: 800px;
}

#index .hero {
  min-height: 615px !important;
  padding: 8rem 4rem;
}

.custom-dropdown,
.week-dropdown,
.season-dropdown {
  background-color: transparent !important ;
  color: var(--brand-color1, #f00) !important;
}



/* 
TOAST RELATED
by: Toastify-react
*/

/** Classes for the progress bar **/
.Toastify__progress-bar--dark {
  background: linear-gradient(
    to right,
    var(--color-light),
    var(--color-dark)
  ) !important;
}
.Toastify__progress-bar {
  background: linear-gradient(
    to right,
    var(--color1),
    var(--color-light)
  ) !important;
}
/** Used to define the position of the ToastContainer **/
/* .Toastify__toast-container--top-center {
  top: 20px !important;
} */
/** Classes for the displayed toast **/
.Toastify__toast--default {
  background-color: #fffffff7 !important;
  color: #020202 !important;
}
.Toastify__toast--dark {
  background-color: #000000df !important;
}
.Toastify__toast--info,
.Toastify__toast--success {
  width: 100%;
  font-size: 1.23rem;
  font-weight: 600;
}
.Toastify__toast {
  text-align: center;
  font-size: 1.15rem;
  font-weight: 600;
}
