#index .page-header {
  padding: 0;
  text-align: left;
  background: no-repeat center/cover
    url(../assets/images/closeup-stadium-seats.jpg);
}
/* #index .page-content {
  background: var(--base-warm-light);
} */
a.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  max-width: 250px;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  background: var(--base-color);
  color: var(--main-black);
  padding: 0.5rem 1rem;
  margin-bottom: 8px;
  margin-right: 8px;
  justify-content: center;
}
a.button span {
  cursor: default;
}

a.demo-link {
  cursor: pointer;
  margin: 2.8rem 0 1rem;
  color: var(--base-color);
  text-shadow: 1px 1px 1px #00000041;
  background: linear-gradient(transparent 35%, #00000077);
  padding: 1rem;
  display: block;
  width: max-content;
}
