
#index .page-header {
  padding: 0;
  text-align: left;
  background: no-repeat center/cover
    url(../assets/images/closeup-stadium-seats.jpg);
}
/* #index .page-content {
  background: var(--base-warm-light);
} */
a.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  max-width: 250px;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  background: var(--base-color);
  color: var(--main-black);
  padding: 0.5rem 1rem;
  margin-bottom: 8px;
  margin-right: 8px;
  justify-content: center;
}
