html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background: url(../images/what-the-hex-dark.png); */
}

main {
  display: grid !important;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}
.page-header {
  padding: 1rem;
  background: rgb(0, 204, 255);
  text-align: center;
}
.page-content {
  text-align: center;
}
.main-content {
  display: grid;
  grid-template-rows: max-content auto max-content;
}
.page-header,
.page-footer {
  /* grid-column: 1/13; */
  justify-content: center;
}
.page-footer {
  padding: 1rem;
  margin: auto;
}
.week-header {
  font-size: 2rem;
  font-weight: 800;
  background: rgb(0, 204, 255);
}
.week-dropdown {
  background-color: khaki !important ;
}
.matchup-container {
  /* display: flex; */
  position: relative;
  max-width: 800px;
  margin: auto;
  height: fit-content;
  /* background-color: rgb(0, 0, 0); */
  /* height: max-content; */
}
.matchup-container .left-side,
.matchup-container .right-side {
  flex: 0 1 225px;
  margin: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* max-width: 373px; */
  max-height: 290px;
}
/* .matchup-container .versus-icon{
  flex: 0 1 375px;
} */

/* .matchup-container:hover {
  opacity: 0.5;
  cursor: pointer;
} */
.matchup-day-header {
  background-color: #000;
  color: #fff;
  padding: 1rem 0.5rem;
}
.matchup-divider {
  background-color: transparent;
  width: min-content;
  padding: 0;
}
.matchup-divider p {
  margin: 0;
}
.container-divider {
  width: 200px;
  max-width: 50%;
  margin: 2rem auto !important;
}
/* @media screen and (max-width: 768px){
  .container-divider{
    width: 50%;
  }
} */
#team-logo-img {
  max-width: 35%;
  display: block;
  margin: auto;
}
.team-container {
  text-align: center;
  height: 100%;
}
.team-container:hover {
  cursor: pointer;
  opacity: 0.5;
}
.versus-icon {
  padding: 0;
  margin: auto;
  align-self: center;
  font-size: 3rem;
  position: absolute;
  z-index: 7;
  top: 0;
  background-color: rgb(255, 0, 0);
  font-weight: 800;
}
.team-selected {
  background-color: rgb(222, 222, 222);
}
