.matchupContainer {
  max-width: 825px;
  margin: auto;
  height: fit-content;
}
.matchupContainer h3 {
  margin: 0;
  margin-top: -15px;
}

.teamContainer {
  text-align: center;
  height: 100%;
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
/* animations  */
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* when pointer is a mouse (fine) 
run Bounce animation on hover */
@media (hover: hover) and (pointer: fine) {
  .teamContainer:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
}
