.matchupContainer {
  max-width: 825px;
  margin: auto;
  height: fit-content;
}
.matchupContainer h3 {
  margin: 0;
  margin-top: -15px;
}

.teamContainer {
  text-align: center;
  height: 100%;
}
.teamContainer:hover {
  cursor: pointer;
  opacity: 0.5;
}
